{
    "server":"{{ shadowsocks_server }}",
    "server_port":{{ shadowsocks_server_port }},
    "local_address":{{ shadowsocks_local_address }},
    "local_port":{{ shadowsocks_local_port }},
    "password":"{{ shadowsocks_password }}",
    "timeout":300,
    "method":"aes-256-cfb",
    "fast_open": false,
    "workers": 10
}
